@charset "UTF-8";
@import url(common.css);
#wrap{
	width: 760px;
	margin: 0 auto;
}

/* header*/
#header{
	position: relative;
	padding-bottom: 99px;
	border-bottom: 1px solid #cccccc;
	background: url(../img/bg_header.png) no-repeat 50% 100%;
}
.logo{
	padding:12px 0 12px 26px;
}
.logo a{
	display: block;
	overflow: hidden;
	width: 90px;
	height: 30px;
	background: url(../img/logo.png) no-repeat;
	text-indent: -9999em; /* 양수면 들여쓰기 음수이면 내어쓰기 */
}
.topnav{
	position: absolute;
	right: 35px;
	top: 18px;
}
.topnav dd{
	float: left;
	padding-right: 11px;
	margin-right: 10px;
	background: url(../img/bg_topnav.png) no-repeat 100% 50%;
}
.topnav dd:last-child{
	padding-left: 0;
	margin-right: 0;
	background: none;
}
.topnav dd a{
	color: black;
	font-size: 0.9em;
}
.mainnav{
	padding-left: 50px;
	background-color: #005B9B;
}
.mainnav:after{/* snb가 안붙게 해주는것 */
	content: '';
	display: block;
	clear: both;
}
.mainnav li{
	float: left;
}
.mainnav li a{
	display: block;
	padding: 0 13px;
	background-color: #005B9B;
	color: #ffffff;
	font: bold 16px/* 글자크기 *//40px/* 줄행높이 */ 'Nanum Gothic', sans-serif;
	text-transform: uppercase; /* 대문자 변환 */
	text-decoration: none; 
}
.mainnav li a:hover{
	color: #660000;
	background-color: #ffcc00;
}
/* header */



/* container */
#container{
	background: url(../img/bg_snb.png) repeat-y 170px 0;
	
}
#container:after{
	content: '';
	display: block;
	clear:both;
}

/* snb */
.snb{
	float:left;
	width: 170px;
}
.snb h2{
	padding: 28px 14px 8px 0;
	margin-left: 11px;
	margin-bottom: 15px;
	border-bottom: 1px solid #cccccc;
	color: #005B9B;
	font-family: 'Nanum Gothic',sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: right;
}
.snb ul a{
	display: block;
	padding-right: 14px;
	color:#005B9B;
	font-family: 'Nanum Gothic',sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	text-decoration: none;
	line-height: 30px;
}
.snb ul a:hover{
	color:#660000;
	text-decoration: underline;
}

/* content */
#content{
	position:relative;
	float: right;
	width: 560px;
}

/* container */



/* footer */
/* footer */

